//variables
$grey:#f9f9f9;
$text-color: #505d68;
$tac: center;

//mixin 
@mixin displayColumn() {
    display: flex;
    flex-direction: column;
}

@mixin displayCenter() {
    display: flex;
    align-items: center;
}

@mixin btnHover() {
    background-color: grey;
    color: white;
}

@mixin displayRow() {
    display: flex;
    flex-direction: row;
}

@mixin backgroundImg() {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin imgProperties() {
    display: block;
    width: 100%;
}

@mixin transition() {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}