.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 0 0 8.3333333333%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 0 0 16.6666666667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 0 0 25%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 0 0 33.3333333333%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 0 0 41.6666666667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 0 0 50%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 0 0 58.3333333333%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 0 0 66.6666666667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 0 0 75%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 0 0 83.3333333333%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 0 0 91.6666666667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 0 0 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 0 0 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 0 0 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 0 0 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 0 0 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 0 0 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 0 0 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 0 0 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 0 0 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 0 0 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 0 0 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 0 0 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 0 0 100%;
  }
}
/* index */
/*mobile first*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

[class*=col-] {
  padding: 0 15px;
}

.header {
  background-color: #003366;
  display: flex;
  position: sticky;
  z-index: 5;
  top: 0;
}

.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.header-row {
  flex-direction: row;
  align-items: center;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  padding: 0 10px;
  outline: none;
  border: 2px solid transparent;
  margin: 0 6px;
}

.menu-item:hover {
  border: 2px solid #99ccff;
  border-radius: 4px;
}

.menu-item:active {
  border: 2px solid #3366ff;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 6px;
}

.menu-item:active > .menu-link {
  color: #3366ff;
}

.menu-link {
  color: #e6eeff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 25px;
}

.search {
  width: 80%;
  display: none;
}

.search-form {
  height: 26px;
  border: 2px solid #99ccff;
  border-radius: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form__input {
  width: 85%;
  height: 95%;
  align-self: flex-start;
}

.search-input {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 6px;
  height: 100%;
  width: 100%;
  color: white;
}

.search-input::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.search-btn {
  background-image: url(imagesIndex/search.png);
  width: 35px;
  height: 95%;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.slider {
  background-image: url(imagesIndex/slider-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slider-title {
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: lighter;
}

.slider-title span {
  font-style: italic;
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #cc9900;
  font-size: 15px;
}

.title-text {
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #4d5c66;
  font-weight: bold;
  font-size: 35px;
  text-transform: capitalize;
}

.content-text {
  margin-top: 20px;
  text-align: center;
  color: #3d5c5c;
  line-height: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-link-block {
  text-align: center;
  padding-top: 10px;
  width: 260px;
  margin: 0 auto;
}

.link {
  text-transform: uppercase;
  border: 1px solid #476b6b;
  text-decoration: none;
  color: #3d5c5c;
  padding: 19px 25px;
  border-radius: 3px;
  display: block;
  height: 57px;
}
.link:hover {
  color: white;
  background-color: grey;
}

.row-link {
  display: flex;
  justify-content: center;
}

.product-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
}

.block-img {
  height: 205px;
  margin-bottom: 10px;
}

.team-item {
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.team-item-img {
  display: block;
  width: 100%;
}

.member-job {
  display: block;
}

.team-item-content {
  padding: 17px;
}

.member-job {
  text-align: start;
  margin-bottom: 10px;
}

.team-member-name {
  color: #56646d;
  font-size: x-large;
  margin-bottom: 20px;
}

.team-item-par {
  color: #021725;
  line-height: 1.6;
  padding-bottom: 30px;
}

.post-img {
  width: 100%;
  display: block;
}

.post-content {
  background-color: #f9f9f9;
}

.post-date {
  text-transform: uppercase;
  color: #505d68;
  font-size: 13px;
  padding-bottom: 10px;
}

.post-name {
  color: #505d68;
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.post-text {
  color: #505d68;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 20px;
}

.post-link-block {
  width: 129px;
}

.post-link {
  text-transform: uppercase;
  border: 1px solid #476b6b;
  text-decoration: none;
  color: #3d5c5c;
  padding: 10px 25px;
  border-radius: 3px;
  display: block;
  height: 47px;
  text-align: center;
  line-height: 1.6;
}
.post-link:hover {
  color: white;
  background-color: grey;
}

.more-from-our-blog-link-block {
  text-align: center;
}

.more-from-our-blog-link {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #476b6b;
  color: #3d5c5c;
  display: block;
  height: 56px;
  width: 238px;
  line-height: 1.6;
  padding: 15px 25px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 3px;
}
.more-from-our-blog-link:hover {
  color: white;
  background-color: grey;
}

.contact-content {
  background-color: #f9f9f9;
  color: #505d68;
}

.contact-content-block {
  text-align: center;
  padding: 20px 30px;
}

.contact-content-title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.contact-details {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}

.footer {
  height: 93px;
  background-color: #a3a375;
  display: flex;
  align-items: center;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link {
  display: block;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 7px;
}
.footer-social-link:hover {
  background-color: #4e5a62;
}

.footer-social-item:first-child > .footer-social-link {
  background-image: url(imagesIndex/twitter-icon.png);
}

.footer-social-item:nth-child(2) > .footer-social-link {
  background-image: url(imagesIndex/facebook-icon.png);
}

.footer-social-item:nth-child(3) > .footer-social-link {
  background-image: url(imagesIndex/skype-icon.png);
}

.footer-social-item:nth-child(4) > .footer-social-link {
  background-image: url(imagesIndex/be-icon.png);
}

.footer-social-item:nth-child(5) > .footer-social-link {
  background-image: url(imagesIndex/in-icon.png);
}

.footer-copy {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

/*mobile middle*/
@media (min-width: 426px) {
  .container {
    padding: 0 50px;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .team-item {
    margin-bottom: 20px;
  }

  .post-date {
    font-size: 15px;
  }

  .post-name {
    font-size: 23px;
  }

  .post-text {
    font-size: 17px;
  }
}
/*tablet*/
@media (max-width: 767px) {
  .post-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }

  .slider {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .content-text {
    font-size: 18px;
  }

  .about-link-block {
    margin-top: 15px;
  }

  .link {
    padding: 20px 40px;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
  }

  .team-row {
    display: flex;
    flex-direction: row;
  }

  .block-img {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-title {
    font-weight: 600;
  }

  .member-job {
    font-weight: 600;
  }

  .team-member-name {
    font-size: large;
  }

  .team-item {
    margin-bottom: 0;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .post-row {
    display: flex;
    flex-direction: row;
  }

  .padding-cut {
    padding: 0;
  }

  .post-img {
    padding-left: 15px;
  }

  .post-content {
    margin-right: 15px;
    padding: 27px;
  }

  .post-date {
    font-size: 15px;
  }

  .post-name {
    font-size: 23px;
  }

  .more-from-our-blog-link {
    margin-top: 40px;
  }

  .contact-row {
    display: flex;
    flex-direction: row;
  }

  .padding-right-cut {
    padding-right: 0;
  }

  .padding-left-cut {
    padding-left: 0;
  }

  .contact-content-block {
    padding: 30px 45px;
  }

  .contact-details {
    font-size: 18px;
  }

  .footer-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social {
    order: 2;
  }

  .footer-copy {
    font-size: 16px;
    margin-top: 0;
    font-weight: lighter;
  }
}
@media (max-width: 991px) {
  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .navigation {
    margin-top: 7px;
    width: 50%;
    max-width: 50%;
    top: 0;
    right: 0;
    position: fixed;
    transform: translateX(150%);
    transition: all 500ms ease-in-out;
  }

  .hidden-menu {
    opacity: 0;
    visibility: hidden;
  }

  .menu-list {
    flex-direction: column;
    height: 100%;
  }

  .menu-item {
    display: flex;
    justify-content: center;
  }

  .nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
  }

  .nav-mobile-menu span:nth-child(1) {
    top: 3px;
  }

  .nav-mobile-menu span:nth-child(2) {
    top: 7px;
  }

  .nav-mobile-menu span:nth-child(3) {
    bottom: 3px;
  }

  .nav-mobile-menu span {
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }

  .nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(3) {
    transform: scale(0);
  }

  .navigation.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 34px;
    padding: 25px;
    background-color: #003366;
    z-index: 100;
  }
}
/*laptop*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .row {
    flex-direction: row;
  }

  .header {
    padding: 20px 0;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .search {
    display: block;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .slider {
    height: 450px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slider-title {
    font-size: 85px;
  }

  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-title {
    font-weight: 600;
    font-size: 20px;
  }

  .title-text {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #4d5c66;
    font-weight: bold;
    font-size: 60px;
  }

  .about-text {
    padding-top: 40px;
  }

  .about-link-block {
    margin-top: 25px;
  }

  .content-text {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .team-member-name {
    font-size: x-large;
  }

  .post-content {
    padding: 62px;
  }

  .post-date {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .post-name {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .post-text {
    font-size: 18px;
    padding-bottom: 55px;
  }

  .more-from-our-blog-link {
    margin-top: 50px;
  }

  .contact-content-block {
    padding: 40px 60px;
  }

  .contact-details {
    font-size: 19px;
    line-height: 1.7;
  }

  .contact-content-title {
    padding-bottom: 40px;
    font-size: 14px;
  }
}
/*desktop*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .slider {
    height: 700px;
  }

  .post-content {
    padding: 75px;
  }

  .post-date {
    padding-bottom: 25px;
  }

  .post-name {
    font-size: 36px;
  }

  .post-text {
    line-height: 2;
    padding-bottom: 66px;
  }

  .more-from-our-blog-link {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
