.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 0 0 8.3333333333%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 0 0 16.6666666667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 0 0 25%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 0 0 33.3333333333%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 0 0 41.6666666667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 0 0 50%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 0 0 58.3333333333%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 0 0 66.6666666667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 0 0 75%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 0 0 83.3333333333%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 0 0 91.6666666667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 0 0 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 0 0 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 0 0 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 0 0 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 0 0 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 0 0 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 0 0 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 0 0 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 0 0 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 0 0 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 0 0 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 0 0 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 0 0 100%;
  }
}
/* index */
/*mobile first*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

[class*=col-] {
  padding: 0 15px;
}

.header {
  background-color: #003366;
  display: flex;
  position: sticky;
  z-index: 5;
  top: 0;
}

.container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.header-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  padding: 0 10px;
  outline: none;
  border: 2px solid transparent;
  margin: 0 6px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-item:hover {
  border: 2px solid #99ccff;
  border-radius: 4px;
}

.menu-item:active {
  border: 2px solid #3366ff;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 6px;
}

.menu-item:active > .menu-link {
  color: #3366ff;
}

.menu-link {
  color: #e6eeff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 25px;
}

.search {
  width: 80%;
  display: none;
}

.search-form {
  height: 26px;
  border: 2px solid #99ccff;
  border-radius: 4px;
  outline: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.search-form__input {
  width: 85%;
  height: 95%;
  align-self: flex-start;
}

.search-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 6px;
  height: 100%;
  color: white;
}

.search-input::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

b,
strong {
  font-weight: bold;
}

.search-btn {
  background-image: url(imagesIndex/search.png);
  width: 35px;
  height: 95%;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: right;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.about__services-img {
  display: block;
  width: 100%;
}

.slider {
  background-size: cover;
  background-repeat: no-repeat;
}

.index_slider {
  background-image: url(imagesIndex/slider-bg.png);
  padding-top: 50px;
  padding-bottom: 60px;
}

.about_slider {
  background-image: url(imagesAbout/about-slider-img.png);
}

.about_introduction {
  font-size: 17px;
  line-height: 1.5;
  color: #4d5c66;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: lighter;
}

.slider-title {
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  font-weight: lighter;
  margin-top: 20px;
}

.slider-title span {
  font-style: italic;
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: #cc9900;
  font-size: 15px;
}

.title-text {
  padding-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #4d5c66;
  font-weight: bold;
  font-size: 35px;
  text-transform: capitalize;
}

.title-text-start {
  text-align: start;
}

.content-text {
  margin-top: 20px;
  text-align: center;
  color: #3d5c5c;
  line-height: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-link-block {
  text-align: center;
  padding-top: 10px;
  width: 260px;
  margin: 0 auto;
}

.link {
  text-transform: uppercase;
  border: 1px solid #476b6b;
  text-decoration: none;
  color: #3d5c5c;
  padding: 19px 25px;
  border-radius: 3px;
  display: block;
  height: 57px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link:hover {
  background-color: grey;
  color: white;
}

.row-link {
  display: flex;
  justify-content: center;
}

.product-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
}

.project__left-product-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
}

.project__product-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
}

.block-img {
  height: 205px;
  margin-bottom: 10px;
}

.project__left-block-img {
  height: 205px;
  margin-bottom: 10px;
}

.team-item {
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.team-item-img {
  display: block;
  width: 100%;
}

.member-job {
  display: block;
}

.team-item-content {
  padding: 17px;
}

.member-job {
  text-align: start;
  margin-bottom: 10px;
}

.team-member-name {
  color: #56646d;
  font-size: x-large;
  margin-bottom: 20px;
}

.team-item-par {
  color: #021725;
  line-height: 1.6;
  padding-bottom: 30px;
}

.post-img {
  display: block;
  width: 100%;
}

.post-content {
  background-color: #f9f9f9;
}

.post-date {
  text-transform: uppercase;
  color: #505d68;
  font-size: 13px;
  padding-bottom: 10px;
}

.post-name {
  color: #505d68;
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.post-text {
  color: #505d68;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 20px;
}

.post-link-block {
  width: 129px;
}

.post-link {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  border: 1px solid #476b6b;
  text-decoration: none;
  color: #3d5c5c;
  padding: 10px 25px;
  border-radius: 3px;
  display: block;
  height: 47px;
  text-align: center;
  line-height: 1.6;
}
.post-link:hover {
  background-color: grey;
  color: white;
}

.more-from-our-blog-link-block {
  text-align: center;
}

.btn-link {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #476b6b;
  color: #3d5c5c;
  display: block;
  height: 56px;
  width: 238px;
  line-height: 1.6;
  padding: 15px 25px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 3px;
}
.btn-link:hover {
  background-color: grey;
  color: white;
}

.project__grey-background {
  background-color: #f9f9f9;
}

.contact-content {
  background-color: #f9f9f9;
  color: #505d68;
}

.contact-content-block {
  text-align: center;
  padding: 20px 30px;
}

.contact-content-title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.contact-details {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}

.footer {
  height: 93px;
  background-color: #a3a375;
  display: flex;
  align-items: center;
}

.padding-0 {
  padding: 0;
}

.about__services-content {
  background-color: #f9f9f9;
  color: #505d68;
  padding: 40px;
}
.about__services-content p {
  font-weight: 300;
  line-height: 1.7;
}
.about__services-content ul li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: capitalize;
}
.about__services-content .title-text-right {
  text-align: start;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 7px;
}
.footer-social-link:hover {
  background-color: #4e5a62;
}

.footer-social-item:first-child > .footer-social-link {
  background-image: url(imagesIndex/twitter-icon.png);
}

.footer-social-item:nth-child(2) > .footer-social-link {
  background-image: url(imagesIndex/facebook-icon.png);
}

.footer-social-item:nth-child(3) > .footer-social-link {
  background-image: url(imagesIndex/skype-icon.png);
}

.footer-social-item:nth-child(4) > .footer-social-link {
  background-image: url(imagesIndex/be-icon.png);
}

.footer-social-item:nth-child(5) > .footer-social-link {
  background-image: url(imagesIndex/in-icon.png);
}

.footer-copy {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.about__services-row {
  display: flex;
  flex-direction: column;
}

.work__slider {
  background-image: url(imagesWork/work-slider-img.png);
}

.blog__slider {
  background-image: url(imagesBlog/blog-slider-img.png);
}

.project__content {
  padding: 50px 0;
}
.project__content h2 {
  font-size: 35px;
  font-weight: bold;
}
.project__content div {
  font-family: "Cardo", serif;
  padding: 60px 0;
  line-height: 1.6;
}

.project__slider {
  background-image: url(imagesProject/project-slider-img.png);
}

.contact__slider {
  background-image: url(imagesContact/contact-slider-img.png);
}

.contact__img {
  display: block;
  width: 100%;
}

.yellow-square {
  background-color: #d3b000;
}
.yellow-square .contact-adress {
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1.3;
  padding: 40px 0;
}

.square-content {
  padding: 20px;
  color: white;
}

.line {
  border-bottom: 2px solid white;
  width: 30px;
}

.contact__text-content {
  background-color: #f9f9f9;
  padding: 30px;
}
.contact__text-content p {
  font-size: 17px;
  color: #505d68;
  font-weight: 300;
  line-height: 1.5;
}

.black-square {
  background-color: #212121;
}
.black-square .phone-numbers {
  padding: 40px 0;
}
.black-square .phone-numbers p {
  font-size: 18px;
  line-height: 1.6;
}

.contact__btn-block {
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project__btn-block {
  text-align: center;
}
.project__btn-block a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #716a6a;
  color: #3d5c5c99;
  display: block;
  height: 56px;
  width: 238px;
  line-height: 1.6;
  padding: 15px 25px;
  margin: 0 auto;
  margin-top: 40px;
}
.project__btn-block a:hover {
  background-color: #a79e9ed1;
  color: white;
}

.post__grey-background {
  background-color: #f5f5ef;
  display: flex;
}

.blog__post-img {
  display: block;
  width: 100%;
}

.white-background {
  background-color: white;
}

.blog__post-btn-down {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: #112532;
  display: block;
  height: 56px;
  width: 238px;
  padding: 15px 25px;
  text-align: center;
  line-height: 1.6;
  margin: 0 auto;
}
.blog__post-btn-down:hover {
  background-color: grey;
  color: white;
  border: 1px solid grey;
}

.post-content-padding {
  padding-top: 15px;
}

.blog-btn-center {
  justify-content: center;
  background-color: #f5f5ef;
  padding-bottom: 55px;
}

.blog__post-text {
  padding: 20px;
}
.blog__post-text h3 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4;
}
.blog__post-text h4 {
  font-size: 16px;
  color: #cc9900;
  padding-bottom: 25px;
}
.blog__post-text p {
  font-size: 16px;
  font-family: "Cardo", serif;
  color: #4d5c66;
  line-height: 1.6;
}
.blog__post-text a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: #112532;
  display: block;
  height: 48px;
  width: 190px;
  padding: 15px 25px;
  margin-top: 40px;
  text-align: center;
}

.blog__post-btn-down-container {
  margin-top: 55px;
}

.margin-top15 {
  margin-top: 15px;
}

.posts-products-block {
  padding-top: 54px;
  padding-left: 10px;
}
.posts-products-block h2 {
  text-transform: capitalize;
  color: #4b5a63;
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 300;
}
.posts-products-block .border-bottom {
  border: 2px solid #d3b000;
  width: 98%;
  margin-bottom: 35px;
}
.posts-products-block .title-block {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: #021725;
}

.blog__block-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.blog__product-img {
  object-fit: cover;
  width: 100%;
  height: 205px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-block {
  width: 300px;
  margin: 120px auto;
  height: 200px;
  border: 1px solid grey;
  background-color: white;
  padding: 15px;
}

.form-fields {
  margin: 10px 0;
}

.form-fields input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

.btn-close {
  text-align: right;
  cursor: pointer;
}

.modal-block button {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid grey;
  padding: 5px;
  background-color: #b8b894;
}

.modal-block button:hover {
  background-color: #d6d6c2;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.image-slider {
  padding: 30px 0 0px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.swiper-pagination {
  bottom: 0;
}

.image-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  background-color: #fff;
}

/*mobile middle*/
@media (min-width: 426px) {
  .container {
    padding: 0 50px;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .team-item {
    margin-bottom: 20px;
  }

  .post-date {
    font-size: 15px;
  }

  .post-name {
    font-size: 23px;
  }

  .post-text {
    font-size: 17px;
  }

  .image-slider__image img {
    width: 470px;
    height: 295px;
  }
}
/*tablet*/
@media (max-width: 767px) {
  .post-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }

  .margin-top {
    margin-top: 50px;
  }

  .padding-bottom {
    padding-bottom: 50px;
  }

  .project__left-product-img {
    height: 280px;
  }

  .project__block-img {
    margin-top: 0px;
    margin-bottom: 3px;
  }
  .project__block-img .project__product-img {
    height: 200px;
  }

  .project__grey-background {
    display: flex;
    flex-direction: row;
  }

  .about__services-row {
    display: flex;
    flex-direction: row;
  }

  .about_introduction {
    line-height: 1.7;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .slider {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .content-text {
    font-size: 18px;
  }

  .about-link-block {
    margin-top: 15px;
  }

  .link {
    padding: 20px 40px;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .row-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
  }

  .team-row {
    display: flex;
    flex-direction: row;
  }

  .block-img {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .project__left-block-img {
    margin-top: 20px;
    margin-bottom: 0;
    height: 280px;
  }

  .tall-block-img {
    margin-top: 20px;
    margin-bottom: 0;
    height: 560px;
  }
  .tall-block-img .tall-img {
    object-fit: cover;
    width: 100%;
    height: 560px;
  }

  .section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-title {
    font-weight: 600;
  }

  .member-job {
    font-weight: 600;
  }

  .team-member-name {
    font-size: large;
  }

  .team-item {
    margin-bottom: 0;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 0 0 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 0 0 58.3333333333%;
  }

  .post-row {
    display: flex;
    flex-direction: row;
  }

  .padding-cut {
    padding: 0;
  }

  .post-img {
    padding-left: 15px;
  }

  .post-content {
    margin-right: 15px;
    padding: 27px;
  }

  .post-date {
    font-size: 15px;
  }

  .post-name {
    font-size: 23px;
  }

  .btn-link {
    margin-top: 60px;
  }

  .contact-row {
    display: flex;
    flex-direction: row;
  }

  .padding-right-cut {
    padding-right: 0;
  }

  .padding-left-cut {
    padding-left: 0;
  }

  .contact-content-block {
    padding: 30px 45px;
  }

  .contact-details {
    font-size: 18px;
  }

  .contact-details a {
    cursor: pointer;
  }

  .contact-details a:hover {
    text-decoration: underline;
  }

  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-social {
    order: 2;
  }

  .footer-copy {
    font-size: 16px;
    margin-top: 0;
    font-weight: lighter;
  }

  .about__services-content {
    padding: 10px;
  }
  .about__services-content h3 {
    text-align: start;
    font-size: 30px;
    margin-bottom: 15px;
    padding-top: 8px;
  }
  .about__services-content p {
    line-height: 1.5;
    font-size: 14px;
    padding-left: 5px;
  }
  .about__services-content ul {
    padding-top: 10px;
  }
  .about__services-content ul li {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9;
  }

  .row-contact {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .padding-left-6 {
    padding-left: 6px;
  }

  .yellow-square {
    background-color: #d3b000;
  }
  .yellow-square .contact-adress {
    font-size: 23px;
    text-transform: capitalize;
    line-height: 1.4;
    padding: 80px 0;
  }

  .line {
    border-bottom: 3px solid white;
    width: 30px;
  }

  .black-square {
    background-color: #212121;
  }
  .black-square .phone-numbers {
    padding: 80px 0;
  }
  .black-square .phone-numbers p {
    font-size: 20px;
    line-height: 1.5;
  }
  .black-square .phone-numbers p a {
    cursor: pointer;
  }
  .black-square .phone-numbers p a:hover {
    text-decoration: underline;
  }

  .contact__text-content {
    padding: 37px;
  }
  .contact__text-content p {
    font-size: 18px;
  }

  .post-content-padding {
    padding: 54px;
    padding-bottom: 0;
    padding-right: 1px;
  }

  .blog__post-img {
    padding: 30px;
  }

  .blog__post-text {
    padding-left: 30px;
    margin-bottom: 54px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  .blog__post-text a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    color: #112532;
    display: block;
    height: 48px;
    width: 190px;
    padding: 15px 25px;
    margin-top: 40px;
    text-align: center;
  }
  .blog__post-text a:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
  }
  .blog__post-text h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .blog__post-text h4 {
    font-size: 16px;
    color: #cc9900;
    padding-bottom: 25px;
  }
  .blog__post-text p {
    font-size: 16px;
    font-family: "Cardo", serif;
    color: #4d5c66;
    line-height: 1.7;
  }

  .blog__block-img {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .post__grey-background {
    display: flex;
    flex-direction: row;
  }

  .posts-products-block {
    padding-left: 0;
  }
  .posts-products-block h2 {
    padding-bottom: 20px;
  }
  .posts-products-block .title-block {
    line-height: 1.8;
    margin-bottom: 39px;
  }
  .posts-products-block .border-bottom {
    width: 100%;
    margin-bottom: 40px;
  }

  .image-slider {
    padding-top: 75px;
  }

  .swiper-button-next,
.swiper-button-prev {
    padding-top: 55px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .navigation {
    margin-top: 7px;
    width: 50%;
    max-width: 50%;
    top: 0;
    right: 0;
    position: fixed;
    transform: translateX(150%);
    transition: all 500ms ease-in-out;
  }

  .hidden-menu {
    opacity: 0;
    visibility: hidden;
  }

  .menu-list {
    flex-direction: column;
    height: 100%;
  }

  .menu-item {
    display: flex;
    justify-content: center;
  }

  .nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
  }

  .nav-mobile-menu span:nth-child(1) {
    top: 3px;
  }

  .nav-mobile-menu span:nth-child(2) {
    top: 7px;
  }

  .nav-mobile-menu span:nth-child(3) {
    bottom: 3px;
  }

  .nav-mobile-menu span {
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }

  .nav-mobile-menu.active-menu span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav-mobile-menu.active-menu span:nth-child(3) {
    transform: scale(0);
  }

  .navigation.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 34px;
    padding: 25px;
    background-color: #003366;
    z-index: 100;
  }
}
/*laptop*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .project__btn-block a {
    margin-top: 105px;
  }

  .project__left-block-img {
    height: 380px;
  }
  .project__left-block-img .project__left-product-img {
    height: 380px;
  }

  .tall-block-img {
    height: 760px;
  }
  .tall-block-img .tall-img {
    height: 760px;
  }

  .project__block-img .project__product-img {
    height: 260px;
  }

  .project__content {
    font-size: 20px;
  }

  .row {
    flex-direction: row;
  }

  .header {
    padding: 20px 0;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .contact__text-content {
    padding: 65px 60px;
  }
  .contact__text-content p {
    font-size: 20px;
    line-height: 1.9;
    padding-bottom: 1px;
  }

  .search {
    display: block;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .slider-row {
    margin-top: 50px;
  }

  .slider {
    height: 600px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slider-title {
    font-size: 85px;
  }

  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-title {
    font-weight: 600;
    font-size: 20px;
  }

  .title-text {
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #4d5c66;
    font-weight: bold;
    font-size: 60px;
  }

  .about-text {
    padding-top: 40px;
  }

  .about-link-block {
    margin-top: 25px;
  }

  .content-text {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .team-member-name {
    font-size: x-large;
  }

  .post-content {
    padding: 62px;
  }

  .post-date {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .post-name {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .post-text {
    font-size: 18px;
    padding-bottom: 55px;
  }

  .btn-link {
    margin-top: 50px;
  }

  .contact-content-block {
    padding: 40px 60px;
  }

  .contact-details {
    font-size: 19px;
    line-height: 1.7;
  }

  .contact-content-title {
    padding-bottom: 40px;
    font-size: 14px;
  }

  .about_introduction {
    padding: 150px 50px;
    font-size: 18px;
  }

  .about__services-content {
    padding: 20px;
  }
  .about__services-content .title-text {
    text-align: start;
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .about__services-content p {
    line-height: 1.8;
    font-size: 16px;
    padding-bottom: 14px;
  }
  .about__services-content ul {
    padding-top: 10px;
    padding-bottom: 4px;
  }
  .about__services-content ul li {
    font-size: 17px;
    font-weight: 300;
    line-height: 2.29;
  }

  .yellow-square {
    background-color: #d3b000;
  }
  .yellow-square .contact-adress {
    font-size: 29px;
    text-transform: capitalize;
    line-height: 1.4;
    padding-top: 80px;
    padding-bottom: 136px;
  }

  .line {
    border-bottom: 3px solid white;
    width: 30px;
  }

  .black-square {
    background-color: #212121;
  }
  .black-square .phone-numbers {
    padding-top: 80px;
    padding-bottom: 136px;
  }
  .black-square .phone-numbers p {
    font-size: 29px;
    line-height: 1.4;
  }

  .square-content {
    padding: 30px;
    color: white;
  }

  .blog__block-img {
    height: 209px;
  }
  .blog__block-img .blog__product-img {
    height: 209px;
  }

  .image-slider {
    padding: 50px 0 90px 0;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 15px;
  }

  .image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: white;
    font-size: 20px;
    padding-bottom: 150px;
  }
}
/*desktop*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .slider {
    height: 700px;
  }

  .post-content {
    padding: 75px;
  }

  .post-date {
    padding-bottom: 25px;
  }

  .post-name {
    font-size: 36px;
  }

  .post-text {
    line-height: 2;
    padding-bottom: 66px;
  }

  .btn-link {
    margin-top: 80px;
  }

  .about__services-content {
    padding: 30px;
  }
  .about__services-content .title-text {
    text-align: start;
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .about__services-content p {
    line-height: 1.9;
    font-size: 17px;
    padding-bottom: 14px;
    padding-top: 11px;
  }
  .about__services-content ul {
    padding-top: 22px;
    padding-bottom: 10px;
  }
  .about__services-content ul li {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.29;
  }

  .contact__text-content p {
    padding-top: 20px;
    padding-bottom: 19px;
  }

  .contact__img {
    height: 359px;
  }

  .project__block-img .project__product-img {
    height: 300px;
  }

  .blog__block-img {
    height: 230px;
  }
  .blog__block-img .blog__product-img {
    height: 230px;
  }

  .image-slider {
    padding: 80px 0 30px 0;
  }

  .image-slider__image img {
    width: 550px;
    height: 345px;
  }

  .image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .index_slider {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
